<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-4">
                <div class="row mt-4 sticky-top bg-white">
                    <div class="col ">
                        <a class="btn btn-outline-primary border-0" href="/home">
                            <p class="text-center">Home</p>
                        </a>
                    </div>
                    <div class="col ">
                        <a class="btn btn-outline-primary border-0" href="/mypost">
                            <p class="text-center">My Post</p>
                        </a>
                    </div>
                    <div class="col border-bottom border-primary">
                        <a class="btn btn-outline-primary border-0" href="/liked">
                            <p class="text-center">Liked</p>
                        </a>
                    </div>
                </div>
                <div class="row" id="parentdiv">
                    <% if (listPosts.length<=0) { %>
                        <p>No Post yet..</p>
                        <% } %>
                            <% listPosts.forEach(post=> {
                                %>
                                <div class="col-12 d-flex align-items-start mt-3 pb-2 shadow-sm p-3 mb-5 bg-body rounded"
                                    id="elm<%= post._id %>">
                                    <div>
                                        <h3 class="fs-4">
                                            <%= post.owner.name %>
                                        </h3>
                                        <p>
                                            <%= post.text %>
                                        </p>
                                        <form onsubmit="tryLike(event)">
                                            <input type="hidden" id="idpost" value="<%= post._id %>" />

                                            <% if (post.likes.includes(user_id)) { %>
                                                <input type="hidden" id="status" value="liked" />
                                                <button type="submit" id="btn<%= post._id %>"
                                                    class="btn btn-primary"><span class="fs-4 mx-3">♡</span>
                                                    <%= post.likes.length %>
                                                </button>
                                                <% } else { %>
                                                    <input type="hidden" id="status" value="not" />
                                                    <button type="submit" id="btn<%= post._id %>"
                                                        class="btn btn-outline-primary"><span class="fs-4 mx-3">♡</span>
                                                        <%= post.likes.length %>
                                                    </button>
                                                    <% } %>
                                        </form>
                                    </div>
                                </div>

                                <% }); %>


                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<script>

    function tryLike(e) {
        e.preventDefault();
        const idpost = e.target.idpost.value;
        const statuslike = e.target.status.value;

        clearError();

        const data = { idpost: idpost };
        console.log(data);

        let apiset = 'addlikes'

        if (statuslike == 'liked') {
            apiset = 'removelikes'
        }

        try {
            fetch(`/post/${apiset}/${idpost}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            }
            ).then((response) => response.json())
                .then((data) => {
                    console.log('no err')
                    console.log(data)
                    if (!data.errors.length) {
                        // Object.keys(data.errors).length;
                        // window.location.href = '/';
                        const btnpost = document.getElementById(`btn${idpost}`);
                        document.getElementById(`elm${idpost}`).remove();
                        const parentcontent = document.getElementById("parentdiv").childNodes.length;
                        if (parentcontent.childNodes.length <= 0) {
                            const node = document.createElement("li");
                            const textnode = document.createTextNode("Water");
                        }
                    } else {
                        data.errors.map((err) => {
                            const invalidFeed = document.getElementById(`${err.param}Invalid`);
                            if (invalidFeed) {
                                invalidFeed.classList.remove('d-none');
                                invalidFeed.textContent = err.msg;
                            }

                        })
                    }
                }).catch((err) => {
                    console.log('errr')
                    console.log(err)
                });
        } catch (error) {
            console.log(error)
        }
    }

    function clearError(params) {
        const invalidFeeds = document.querySelectorAll('input');
        console.log(invalidFeeds);
        invalidFeeds.forEach((node) => {
            const nodeItem = document.getElementById(`${node.id}Invalid`);
            if (nodeItem) {
                nodeItem.classList.remove('d-none');
                nodeItem.classList.add('d-none');
            }
        })
        const alertNode = document.getElementById(`alertInvalid`);
        if (alertNode) {
            alertNode.classList.remove('d-none');
            alertNode.classList.add('d-none');
        }
    }
</script>

</html>